<div class="m-2">
    <div class="mt-3">
        <select class="p-2" [formControl]="StateChange">
            <option *ngFor="let state of States" value="{{state.Key}}">{{state.Value}}</option>
        </select>
    </div>
    <br>
    <br>
    <div *ngIf="CovidInfo.length != 0" class="d-flex flex-wrap">
        <div (click)="getConfirmedData('confirmed')"
            class="card cardheight d-flex justify-content-center cursor text-center m-2"
            [ngClass]="{'selectedcard':displaydata == 'confirmed'}">
            <h6>Confirmed</h6>
            <h5>{{CovidInfo[CovidInfo?.length - 1]?.val?.total?.confirmed}}</h5>
        </div>
        <div (click)="getConfirmedData('recovered')"
            class="card cardheight d-flex justify-content-center cursor text-center m-2"
            [ngClass]="{'selectedcard':displaydata == 'recovered'}">
            <h6>Active</h6>
            <h5>{{CovidInfo[CovidInfo?.length - 1]?.val?.total?.confirmed - CovidInfo[CovidInfo?.length -
                1]?.val?.total?.recovered -
                CovidInfo[CovidInfo?.length - 1]?.val?.total?.deceased}}</h5>
        </div>
        <div (click)="getConfirmedData('deceased')"
            class="card cardheight d-flex justify-content-center cursor text-center m-2"
            [ngClass]="{'selectedcard':displaydata == 'deceased'}">
            <h6>Recovered</h6>
            <h5>{{CovidInfo[CovidInfo?.length - 1]?.val?.total?.recovered}}</h5>
        </div>
        <div (click)="getConfirmedData('active')"
            class="card cardheight d-flex justify-content-center cursor text-center m-2"
            [ngClass]="{'selectedcard':displaydata == 'active'}">
            <h6>Deceased</h6>
            <h5>{{CovidInfo[CovidInfo?.length - 1]?.val?.total?.deceased}}</h5>
        </div>
    </div>



    <!-- <google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [columns]="chart.columnNames"
    [options]="chart.options">
</google-chart> -->
    <div *ngIf="graphData.length != 0" class="d-flex flex-wrap">
        <ngx-charts-bar-vertical [view]="[500,400]" [results]="graphData" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
        </ngx-charts-bar-vertical>

        <ngx-charts-pie-chart [view]="[500,400]" [results]="graphData" [labels]="true">
        </ngx-charts-pie-chart>
    </div>
</div>