<header *ngIf="IsLoggedIn" class="header bg-color d-flex align-items-center justify-content-between">
    <div class="d-flex pl-2 align-items-center">
        <div (click)="ShoworHidemenu()" *ngIf="IsSmall">
            <i class='fa fa-bars white-color ml-3 mr-3'></i>
        </div>
        <div> <img src="./assets/logo1.jpg" width="50" height="50" class="rounded-circle"></div>
        <div>
            <h4 class="pl-3 d-flex align-self-center white-color"><i>CTS</i></h4>
        </div>
    </div>
    <div class="cursor d-flex justify-content-end mr-4">
        <i class='fas fa-power-off white-color' [ngbPopover]="profile"></i>
    </div>
</header>

<div class="d-flex">
    <div class="sidebar" *ngIf="Showmenu && IsLoggedIn">
        <nav class="bg-color">
            <div class="d-flex align-items-center pl-2  minheight white-color cursor" *ngFor="let option of MenuOptions"
                [ngClass]="{'selectedbg-color': router?.url == '/'+option.URL}" (click)="Navigate(option.URL)">
                <i class={{option.icon}} style="align-self:center;padding-right: 10px;"></i>
                <span>{{option.Name}}</span>
            </div>
        </nav>
    </div>
    
    <div class="content content-size" [ngClass]="{'content-size1':!IsLoggedIn || IsSmall}">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #profile>
    <div class="d-flex justify-content-center">
        <i class='fas fa-user-circle' style="font-size: 85px;"></i>
    </div>
    <div class="d-flex justify-content-center pb-3 pt-1" style="width: 250px;">
        <h4 class="color">{{UserData?.firstName}}&nbsp;{{UserData?.lastName}}</h4>
    </div>

    <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-light">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="Logout()">Logout</button>
    </div>

</ng-template>