.header {
  min-height: 4.5rem;
}

.sidebar {
  width: 250px;
  background: navy;
  z-index: 1000 !important;
  overflow-y: auto;
  /* left: 250px; */
  height: 100%;
  position: fixed;
}

.minheight {
  min-height: 3rem;
}

.content {
  position: fixed;
  margin-right: 0;
  overflow-y: auto;
}

.content-size {
  width: calc(100% - 250px) !important;
  height: calc(100% - 4.5rem) !important;
  left: 250px;
}

.content-size1 {
  width: 100% !important;
  height: 100% !important;
  left: 0;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .sidebar {
    width: 250px;
    background: navy;
    z-index: 1 !important;
    overflow-y: auto;
    height: 100%;
    position: fixed;
  }
}
